$base-text-color: #212529;
$second-base-text-color: #fff;
$hamburger-bg-color: rgba(52, 58, 64, 0.5);
$service-color: #ecb807; 
$button-div-bg-color: #1D809F;
$second-button-bg-color: #212529;
$third-button-bg-color: #fff;