* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.portfolio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  height: 100vh;
  position: relative;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-image: url("https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-masthead.jpg");
}

.main-sectionMob {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

.main-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

.portfolioText, .portfolioWelcomeText, .introText {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 5.5rem;
  color: #212529;
}

.portfolioParag, .introParag {
  font-weight: 700;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.75rem;
}

.findOut {
  background-color: #1D809F;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  font-size: 1rem;
  padding: 1.25rem 2.5rem;
  cursor: pointer;
  border-color: #1D809F;
  border-radius: 6px;
  border: none;
  margin-top: 20px;
}
.findOut:hover {
  background-color: #196d87;
}

.hamburger {
  position: fixed;
  z-index: 1;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 6px;
  background-color: rgba(52, 58, 64, 0.5);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburger:hover {
  background-color: #343a40;
}
.hamburger svg {
  color: #fff;
  width: 30%;
}

.intro-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 50vh;
}

.introText {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.introParag {
  margin-bottom: 3rem;
  font-size: 1.25rem;
  font-weight: 300;
}

.offerButton, .look, .click {
  background-color: #1D809F;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  font-size: 1rem;
  padding: 1.25rem 2.5rem;
  cursor: pointer;
  border-color: #1D809F;
  border-radius: 6px;
  border: none;
  margin-top: 20px;
  background-color: #212529;
  color: #fff;
}
.offerButton:hover, .look:hover, .click:hover {
  background-color: #4d5154;
}

.portfolioOffer, .portfolioRecent {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #1D809F;
  height: 80vh;
  margin-top: 50px;
}

.portfoliOfferText, .portfolioRecent h2 {
  font-weight: 700;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3rem;
  color: #fff;
}

.portfolioRecent {
  background-color: #fff;
  height: 50vh;
  margin: 30px 0;
}
.portfolioRecent h2 {
  color: #212529;
}

.serviceText {
  color: #ecb807;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width: 80%;
  margin-top: 50px;
}
.icons_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.icons_content-iconsItems {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons_content-iconsItems div {
  font-size: 2.25rem;
  color: #1D809F;
}
.icons_content p {
  font-weight: 700;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  font-size: 1.5rem;
  margin-top: 10px;
}
.icons_content span {
  font-weight: 700;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  font-size: 1rem;
  margin-top: 10px;
  display: inline-block;
}

.portfolioWelcome {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  height: 100vh;
  position: relative;
  width: 100%;
  background-image: url("https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-callout.jpg");
  height: 100%;
}

.portfolioWelcomeText {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-weight: 700;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 30rem;
  font-size: 3.5rem;
}

.blogs {
  margin-bottom: 100px;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 150px;
  height: 60vh;
  cursor: pointer;
}
.image .image1 {
  width: 50%;
  background-image: url("https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.image .image1:hover {
  transform: scale(0.9);
  transition: 800ms ease-in-out;
  opacity: 0.6;
  background-color: red;
}
.image .image2 {
  width: 50%;
  background-image: url("https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.image .image2:hover {
  transform: scale(0.9);
  transition: 800ms ease-in-out;
  opacity: 0.6;
  background-color: red;
}
.image .image3 {
  width: 50%;
  background-image: url("https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.image .image3:hover {
  transform: scale(0.9);
  transition: 800ms ease-in-out;
  opacity: 0.6;
  background-color: red;
}
.image .image4 {
  width: 50%;
  background-image: url("https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-4.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.image .image4:hover {
  transform: scale(0.9);
  transition: 800ms ease-in-out;
  opacity: 0.6;
  background-color: red;
}

.click {
  background-color: #fff;
  color: #212529;
  margin: 0 15px;
}

.buttons {
  margin: 20px;
}

.look {
  margin: 0 15px;
}

.map {
  height: 30rem;
}

.map iframe {
  pointer-events: none;
  height: 100%;
  width: 100%;
  border: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

.main-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  justify-content: space-around;
}

.social {
  height: 4rem;
  width: 4rem;
  background-color: #1D809F;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social div {
  color: #fff;
  margin: 0 20px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .introText {
    font-size: 1.5rem;
  }
  .image {
    padding: 0 90px;
  }
  .portfoliOfferText, .portfolioRecent h2 {
    font-size: 2rem;
  }
  .main-social {
    width: 40%;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .portfolioText, .introText, .portfolioWelcomeText {
    font-size: 4rem;
  }
  .introText {
    font-size: 1rem;
  }
  .introParag {
    font-size: 1rem;
    margin: 0 20px;
  }
  .portfolioOffer, .portfolioRecent {
    height: 100vh;
  }
  .icons {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .icons_content-iconsItems {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    display: block;
    line-height: 7.5rem;
    font-size: 2.25rem;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icons_content-iconsItems div {
    font-size: 1.5rem;
  }
  .icons_content p {
    font-weight: 700;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
  }
  .icons_content span {
    font-size: 0.8rem;
    margin: 5px 0;
  }
  .portfoliOfferText, .portfolioRecent h2 {
    font-size: 1.5rem;
  }
  .image {
    padding: 0 70px;
    height: 50vh;
  }
  .portfolioRecent {
    height: 50vh;
  }
  .main-social {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .portfolio {
    height: 50vh;
  }
  .main-sectionMob {
    height: 100%;
  }
  .main-section {
    height: 50vh;
  }
  .portfolioText, .introText, .portfolioWelcomeText {
    font-size: 2rem;
  }
  .portfolioParag, .introParag {
    font-size: 1rem;
    margin: 0 10px;
  }
  .introText {
    text-align: center;
    font-size: 1rem;
    margin: 10px;
  }
  .introParag {
    font-size: 1rem;
    margin: 0 20px;
  }
  .portfolioOffer, .portfolioRecent {
    height: 100vh;
  }
  .icons {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .icons_content-iconsItems {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    display: block;
    line-height: 7.5rem;
    font-size: 2.25rem;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    width: 3rem;
    height: 3rem;
  }
  .icons_content-iconsItems div {
    font-size: 1.5rem;
  }
  .icons_content p {
    font-weight: 700;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
  }
  .icons_content span {
    font-size: 0.8rem;
    margin: 5px 0;
  }
  .portfoliOfferText, .portfolioRecent h2 {
    font-size: 1.5rem;
  }
  .image {
    padding: 0 10px;
    height: 30vh;
  }
  .portfolioRecent {
    height: 50vh;
  }
  .main-social {
    width: 80%;
  }
  .buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .buttons button {
    margin: 10px 0;
  }
}

/*# sourceMappingURL=style.css.map */
