.portfolio {
    @include portfolio;
    @include bg-image;
    background-image: url("https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-masthead.jpg");
}

.main-sectionMob {
    @include structure;
    height: 100vh;
    position: relative;
}

.main-section {
    @include structure;
    height: 100vh;
    position: relative;
}

.portfolioText {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5.5rem;
    color: $base-text-color
}

.portfolioParag {
    @include text;
    font-size: 1.75rem;
}

.findOut {
    @include downloadButton;

    &:hover {
        background-color: #196d87;
    }
}

.hamburger {
    position: fixed;
    z-index: 1;
    top: 15px;
    right: 15px;
    @include hamburger;

    svg {
        color: #fff;
        width: 30%;
    }
}

.intro-section {
    @include structure;
    height: 50vh;
}

.introText {
    @extend .portfolioText;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

.introParag {
    @extend .portfolioParag;
    margin-bottom: 3rem;
    font-size: 1.25rem;
    font-weight: 300;
}

.offerButton {
    @include downloadButton;
    background-color: $second-button-bg-color;
    color: $third-button-bg-color;

    &:hover {
        background-color: #4d5154;
    }
}

.portfolioOffer {
    @include structure;
    background-color: $button-div-bg-color;
    height: 80vh;
    margin-top: 50px;
}

.portfoliOfferText {
    @include text;
    font-size: 3rem;
    color: $second-base-text-color;
}

.portfolioRecent {
    @extend .portfolioOffer;
    background-color: $second-base-text-color;
    height: 50vh;
    margin: 30px 0;

    & h2 {
        @extend .portfoliOfferText;
        color: $base-text-color;
    }
}

.serviceText {
    color: $service-color;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}

.icons {
    @include flex-center;
    justify-content: space-around;
    width: 80%;
    margin-top: 50px;

    &_content {
        @include structure;

        &-iconsItems {
            @include icons-items;
            @include flex-center;

            & div {
                font-size: 2.25rem;
                color: $button-div-bg-color;
            }

        }

        & p {
            @include text;
            color: $second-base-text-color;
            font-size: 1.5rem;
            margin-top: 10px;
        }

        & span {
            @include text;
            color: rgba(255, 255, 255, 0.7);
            font-weight: 300;
            font-size: 1rem;
            margin-top: 10px;
            display: inline-block;
        }
    }
}

.portfolioWelcome {
    @include portfolio;
    background-image: url("https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-callout.jpg");
    height: 100%
}

.portfolioWelcomeText {
    @include structure;
    @extend .portfolioText;
    @include bg-image;
    @include text;
    max-width: 30rem;
    font-size: 3.5rem;
}

.blogs {
    margin-bottom: 100px;
}

.image {
    @include flex-center;
    padding: 0 150px;
    height: 60vh;
    cursor: pointer;

    & .image1 {
        width: 50%;
        background-image: url('https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-1.jpg');
        @include bg-image;

        &:hover {
            transform: scale(0.9);
            transition: 800ms ease-in-out;
            opacity: 0.6;
            background-color: red;
        }
    }

    & .image2 {
        width: 50%;
        background-image: url('https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-2.jpg');
        @include bg-image;

        &:hover {
            transform: scale(0.9);
            transition: 800ms ease-in-out;
            opacity: 0.6;
            background-color: red;
        }
    }

    & .image3 {
        width: 50%;
        background-image: url('https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-3.jpg');
        @include bg-image;

        &:hover {
            transform: scale(0.9);
            transition: 800ms ease-in-out;
            opacity: 0.6;
            background-color: red;
        }
    }

    & .image4 {
        width: 50%;
        background-image: url('https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-4.jpg');
        @include bg-image;

        &:hover {
            transform: scale(0.9);
            transition: 800ms ease-in-out;
            opacity: 0.6;
            background-color: red;
        }
    }
}

.click {
    @extend .offerButton;
    background-color: $second-base-text-color;
    color: $base-text-color;
    margin: 0 15px;
}

.buttons {
    margin: 20px;
}

.look {
    @extend .offerButton;
    margin: 0 15px;
}

.map {
    height: 30rem;
}

.map iframe {
    pointer-events: none;
    height: 100%;
    width: 100%;
    border: 0;
}

.footer {
    @include flex-center;
    height: 40vh;
}

.main-social {
    @include flex-center;
    width: 20%;
    justify-content: space-around;
}

.social {
    @include social-links;
    @include flex-center;

    & div {
        color: $second-base-text-color;
        margin: 0 20px;
    }
}

.copy {
    @include flex-center;
    @include text;
}